JWT_SECRET_KEY=
JWT_ISSUER=SelectioAuth
JWT_AUDIENCE=SelectioUsers

GATEWAY_INTERNAL_TOKEN=

EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=
EMAIL_FROM_EMAIL=
EMAIL_FROM_NAME=Selectio
EMAIL_BASE_URL=http://localhost:8080
EMAIL_ALLOW_INSECURE_SSL=false

